# Git
.git
.gitignore

# Docker
.dockerignore

# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
venv/
.venv/

# Date Base (if create)
db.sqlite3

# User files
images/

# Documentation
plain.md

# Variables environment
.env

# IDE
.vscode/
.idea/

# System files
.DS_Store
Thumbs.db